.container {
  margin: 0 auto;
  background-color: indianred;
  width: 600px;
  height: 600px;
}

.child {
  background-color: purple;
  width: 200px;
  height: 200px;
}

img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 500px;
  left: -100px;
}
